<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bd_sihv</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">ssxq9d9rssx</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.use_sql_comments">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="com/lades/sihv/model/LogBookHasUsers.hbm.xml"/> 
    <mapping resource="com/lades/sihv/model/NewAnimalAndOwner.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/SisRespCardio.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/SisMuscEsque.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/SmallAnimal.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Owners.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/AnimalPhoto.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/City.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Phones.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/SisNeurologico.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/ProceduresApplied.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Genre.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Hospitalization.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/ExameFisico.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/TypeProcedure.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Order.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Sylvan.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/ClassAnimal.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Neighborhood.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Animals.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Anamnese.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Species.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/ExameImage.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Prices.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/NonConventionalPet.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/GreatAnimal.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/VetConsultation.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/LogBook.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/SisDigestorio.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Powers.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/LegalPerson.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Races.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Category.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/FederationUnity.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/SisTegumentar.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/People.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Scheduling.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/SisUrinarioMamaria.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Nation.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/VeterinaryInvolved.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/PhysicalPerson.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/PowersHasUsers.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/SisOftalmico.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Procedures.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Cpf.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Street.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Address.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/OwnersHasAnimals.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Houses.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Users.hbm.xml"/>
    <mapping resource="com/lades/sihv/model/Rg.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
