<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bd_sihv</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <mapping resource="Model/SistemasImg.hbm.xml"/>
    <mapping resource="Model/Entrada.hbm.xml"/>
    <mapping resource="Model/ExameFis.hbm.xml"/>
    <mapping resource="Model/Usuario.hbm.xml"/>
    <mapping resource="Model/Produto.hbm.xml"/>
    <mapping resource="Model/Animal.hbm.xml"/>
    <mapping resource="Model/ExameImg.hbm.xml"/>
    <mapping resource="Model/Custo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
