/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2016, 15:27:23
    Author     : heitor
*/

/* Inicio da resposividade */

.LADES-topbar{
    
    top: 0;
    right: 0;
    left: 0;
    min-height: 65px;
    z-index: 9999;
    
    background-color: #2d3e50;
    
}

.LADES-logo-SIHV > img{
    
    /*Responsividade imagem */
    max-width: max-content;
    max-height: 50px;
    background-size:100%;
    background-repeat: no-repeat;
    /*Responsividade imagem */
    
    
    
    position: absolute;
    margin-top: 6px;
    margin-left: 7px;
    
}

/*nome antigo= aw-sidebar*/
.LADES-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 210px;
    margin-left: -211px;
    z-index: 9998;
    transition: margin-left 0.5s;
    overflow-y: auto;

    background-color: #f6f6f6;
    border-right: 1px solid #eaeaea;
}

/*nome antigo= aw-sidebar.is-toggled*/
.LADES-sidebar.is-toggled {
    margin-left: 0px;
}

@media (min-width: 960px) {
    .LADES-sidebar {
            margin-left: 0px;
    }

    .LADES-sidebar.is-toggled {
            margin-left: -211px;
    }
}

@media (min-width: 960px) {
	.LADES-content {
		margin-left: 210px;
	}
	
	.LADES-content.is-toggled {
		margin-left: 0;
	}
}

/*------- Fim responsividade ------------*/

/* CONTENT */
.LADES-content {
	padding: 0 15px;
	margin-top: 70px;
	transition: margin-left 0.5s;
}







/*Estilização de login*/
.LADES-bodyLogin{
    background-color: #2d3e50;
    text-align: center;
}

.LADES-topBarLogin{
    top: 0;
    right: 0;
    left: 0;
    min-height: auto;
    z-index: 9999;
    background-color:#eaeaea;
}

.LADES-topBarLogin > img {
    max-width: 100%;
    height: auto;
    padding-bottom: 1.3%;
    padding-top: 1.3%;
}

.LADES-contentLogosInferior{
    margin-top: 10%;
}

.LADES-logosInferior{
    height: 30px;
    margin-left: 30px;
}
/*Fim - Estilização de login*/


/*Index estilização menu central*/
.LADES-indexBotao{
    height: 150px;
    margin-bottom: -60px;
    
}

.LADES-textoBotao{
    color: #1abc9c;
    font-size: 17px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    text-align: center;
    
}
/*Fim - Index estilização menu central*/


/*Cor dos links*/
a {
    color: #1abc9c;
    text-decoration: none;
}
/*-----------------*/
.textoTESTE{
    color: #1abc9c;
    font-weight: bold;
}
