
*{
    margin: 0;
    padding: 0;
    border: 0
}

a { text-decoration:none }

.clear:before,
.clear:after {
    content:" ";
    display: table
}

.clear:after { clear: both }

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle
}

.arrow.down {
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.arrow.up {
    border-bottom: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

nav {
    width: 100%;
    background: none;
}

nav .navbar {
    width: 95%;
    margin:0 auto
}

/*Altera cor do nome Logo*/
nav a { color: #fff; }

nav .logo {
    float: left;
    display: inline-block;
    font-size: 30px;
    font-weight: bold
}

nav .menu-toggle {
    cursor: pointer;
    display: none;
    float: right;
    padding: 12px;
    margin: 10px 0;
    background:#1abc9c;
    transition: background-color .5s
}

nav .icon-bar {
    background-color: #fff;
    display: block;
    width: 22px;
    height: 2px
}

nav .icon-bar + .icon-bar {margin-top: 4px;}

/*Menu-toggle: transformar 3 linhas em X*/
.bar1, .bar2, .bar3 {
    background-color: #333;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(0deg) translate(0px, 0px) ;
    transform: rotate(-40deg) translate(-4px, 5px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(0deg) translate(0px, 0px) ;
    transform: rotate(40deg) translate(-4px, -5px) ;
}
/*Menu-toggle: Fim ------------------------------------*/

nav .menu ul { float: right }

nav .menu li {
    float: left;
    list-style: none;
    border-left: 2px solid #1abc9c;
}

nav .menu li:first-child { border-left: 0 }

nav .menu li a,
nav .open-submenu {
    color: #fff;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 12px 20px;
    transition: background-color .3s
}

nav .menu li a:hover,
nav .open-submenu:hover ,
nav .open-submenu.active,
nav .menu-toggle.active  {
    background:#5e7e86;
    transition: background-color .5s
}

nav .menu ul ul {
    z-index: 100;
    display: none;
    float: none;
    position: absolute;
    background:#2d3e50;
}

nav .menu ul ul li {
    float: none;
    border: 0
}

nav .menu ul ul a:hover {
    background: #1abc9c;
    transition: background-color .3s
}

@media(max-width:600px) {
    nav .logo { padding-top: 8px }

    nav .menu-toggle { display: inline-block }

    nav .menu { display: none; clear: both }

    nav .menu > ul { float: none }

    nav .menu li { width: 100%; border: 0 }

    nav .menu li:last-child { margin: 0 0 15px 0 }

    nav .menu li a,
    nav .open-submenu {
            display: block;
            background:#1abc9c;
            padding: 10px;
            margin: 2px 0 0 0;
    }

    nav .menu ul ul {
            position: static;
            background: transparent;
            display:none;
    }

    nav .menu ul ul a { background: transparent; }

    nav .menu ul ul a:hover { background:#5e7e86; }
}