/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2016, 16:22:25
    Author     : heitor
*/

.LADES-toggle {
	float: right;
	line-height: 50px;
	margin-right: 15px;
	
	color: #fff;
}