/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #555;
}

@media (max-width: 640px) {
    .ui-tabs.ui-tabs-top > .ui-tabs-nav li {
        width: 100%;
    }
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
    border: none;
    background: none;
}


@media (max-width: 640px) {
    .ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
        border: none;
    }
}


/*---------------- Prime Faces modificações na estilizações ----------------*/


/*WIZARD*/
.ui-state-highlight{
    background-color: #1ABC9C!important;
    background-image: linear-gradient(to bottom, #1ABC9C, #138972)!important;
}
/*WIZARD*/

/*GROWL*/
.ui-growl{top: 90px!important;}
/*GROWL*/

/*---------------- Prime Faces modificações na estilizações ----------------*/