/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #555;
}

@media (max-width: 640px) {
    .ui-tabs.ui-tabs-top > .ui-tabs-nav li {
        width: 100%;
    }
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
    border: none;
    background: none;
}


.ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row .ui-panelgrid-cell {
    padding-bottom: 1%;
} 


@media (max-width: 640px) {
    .ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
        border: none;
    }
}


/*---------------- Prime Faces modificações na estilizações ----------------*/

/*TabView*/
.ui-tabs .ui-tabs-nav.ui-widget-header li a {
    color: #5f666c!important;
    font-weight: bold!important;
    font-size: 1em!important;
}
/*TabView*/


/*WIZARD*/
.ui-state-highlight{
    background-color: #00B59B!important;
    background-image: linear-gradient(to bottom, #00B59B, #008471)!important;
}
/*WIZARD*/

/*GROWL*/
.ui-growl{top: 90px!important;}
/*GROWL*/


.ui-panel-content{
    /*padding: 0px 0px 0px 0px!important;*/
}

.ui-widget-header{
    color: #5f666c!important;
}

/*required field PrimeFaces*/
.ui-outputlabel .ui-outputlabel-rfi {
    color: #c0392b!important;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #ED4635!important;
    color: #c0392b!important;
}

/*selectBooleanButton*/
.buttonAffectedSystem {
    width:100px!important;
    color: #5f666c!important;
    font-size: 13px!important;
}

/*outputLabel para formulários do sistema SIHV*/
.ui-outputlabel {font-family: Open Sans, Helvetica, Arial !important;}

.outputLabel-SIHV {
    font-weight: bold!important;
    /*    float: right;*/
}

.colorPri {color: #00B59B!important;}

.colorSub {color: #007463!important;}

@media (max-width: 640px) {
    /*    .outputLabel-SIHV {float: none;}*/
}
/*outputLabel para formulários do sistema SIHV*/

.fc-view {
    z-index: 0!important;
}
/*---------------- Prime Faces modificações na estilizações ----------------*/

@media (max-width: 640px) {
    .divNotUsed {
        display: none;
    }
}