/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2016, 15:27:23
    Author     : heitor
*/

/* BASE */
*{font-family: Open Sans, Helvetica, sans-serif, Arial;}

body {
    margin: 0;
    color: #5f666c;/*Cor da fonte que está no body*/
    background-color: #ffffff;
}

.LADES-default-Text {
    color: #5f666c!important;
    font-family: Open Sans, Helvetica, Arial !important;
}

a {
    color: #00B59B;
    text-decoration: none;
}
/* BASE */




/*-------------------------Inicio da resposividade-------------------------*/
.LADES-topbar{
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    position: fixed;
    /*background-color: #2d3e50;*/
    background-color: #eaeaea;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


/* CONTENT */
.LADES-content {
    /*overflow: auto;*/
    padding-top: 80px;
    padding-left: 0px;
    padding-right: 0px;
    transition: margin-left 0.5s;
}
/* CONTENT */

.LADES-logo-SIHV {

    /*Responsividade imagem */
    /*max-width: max-content;*/
    height: 50px;
    margin-left: 14px;
    margin-top: 11px;
    position: absolute;
    top: -1px;
    /*background-size:100%;*/
    /*background-repeat: no-repeat;*/
    /*Responsividade imagem */

    /*position: absolute;*/
    /*margin-left: 30px;*/
    /*top: 6px;*/
}

/*-----Barra lateral-----*/
.LADES-sidebar {
    position: fixed;
    top: 75px;
    bottom: 0;
    left: 0;
    width: 270px;
    margin-left: -276px;
    z-index: 1000;
    transition: margin-left 0.5s;
    overflow-y: auto;

    background-color: #2d3e50;
    border-right: 0px solid #eaeaea;
    box-shadow: 4px 3px 8px 0 rgba(0,0,0,0.2);
}

.LADES-sidebar.is-toggled {margin-left: 0px;}

@media (min-width: 960px) {
    .LADES-sidebar {margin-left: 0px;}
    .LADES-sidebar.is-toggled {margin-left: -276px;}
}

@media (min-width: 960px) {
    .LADES-content { margin-left: 270px;}
    .LADES-content.is-toggled { margin-left: 0;}
}
/*-----Fim Barra lateral-----*/

/*----------------------Fim Inicio da resposividade-------------------------*/





/*-----Botão para barra lateral-----*/
nav .menu-toggle {
    position: fixed;
    color: #009688;
    font-size: 28px;
    cursor: pointer;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: -58px 0px 0px 195px;
    background: none;
}

nav .menu-toggle:hover {
    transition: margin-left 0.5s;
    font-weight: bold;
}

.menu-toggle.is-toggled {
    color: #5f666c;
}

.menu-toggle.is-rotacao {
    transform: rotate(0deg);
}


.LADES-topbar-mini{
    min-height: 75px;
    width: 270px;
    margin-left: 0px;
    background-color: #eaeaea;
    box-shadow: 4px -1px 8px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
    z-index: -1;
}


.tituloBar{
    position: fixed;
    margin: -60px 0px 0px 300px;
}

#tituloContente {
    color: #5f666c!important;
}

@media (min-width: 960px) {
    #botao2{display: none;}
    #userNameNik2{display: none}
    #tituloContente{display: none}
}

@media(max-width:960px ){
    #botao1{display: none;}

    .LADES-topbar-mini.is-toggled2 {margin-left: 0px;}

    nav .menu-toggle{
        color: #5f666c;
    }

    .menu-toggle.is-toggled2 {
        color: #009688;
    }

    .menu-toggle.is-rotacao2 {transform: rotate(180deg);}

    #userNameNik{display: none;}

    .tituloBar{display: none;}

    .LADES-content{
        padding-top: 80px;
        padding-left: 1px;
        padding-right: 1px;
    }
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e1e1e1;
    border-radius: 4px;
    text-align: center;
    margin-top: 30px;
}