/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2016, 15:27:23
    Author     : heitor
*/

/* Inicio da resposividade */

.LADES-topbar{
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9998;
    position: fixed;
    /*background-color: #2d3e50;*/
    background-color: #eaeaea;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


/* CONTENT */
.LADES-content {
    /*overflow: auto;*/
    margin-top: 90px;
    transition: margin-left 0.5s;
}


.LADES-logo-SIHV {

    /*Responsividade imagem */
    /*max-width: max-content;*/
    height: 50px;
    margin-left: 14px;
    margin-top: 11px;
    position: absolute;
    top: -1px;
    /*background-size:100%;*/
    /*background-repeat: no-repeat;*/
    /*Responsividade imagem */

    /*position: absolute;*/
    /*margin-left: 30px;*/
    /*top: 6px;*/
}

/*nome antigo= aw-sidebar*/
.LADES-sidebar {
    position: fixed;
    top: 75px;
    bottom: 0;
    left: 0;
    width: 270px;
    margin-left: -270px;
    z-index: 9999;
    transition: margin-left 0.5s;
    overflow-y: auto;

    background-color: #2d3e50;
    border-right: 0px solid #eaeaea;
    box-shadow: 4px 3px 8px 0 rgba(0,0,0,0.2);
}

/*nome antigo= aw-sidebar.is-toggled*/
.LADES-sidebar.is-toggled {
    margin-left: 0px;
}


@media (min-width: 960px) {
    .LADES-sidebar {margin-left: 0px;}
    .LADES-sidebar.is-toggled {margin-left: -276px;}
}


@media (min-width: 960px) {
    .LADES-content { margin-left: 270px;}

    .LADES-content.is-toggled { margin-left: 0;}
}

/*------- Fim responsividade ------------*/






nav .menu-toggle {
    position: fixed;
    color: #009688;
    font-size: 25px;
    cursor: pointer;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: -50px 0px 0px 300px;
    background: none;
    transition: margin-left 0.5s;
    transform: rotate(180deg);
}

nav .menu-toggle:hover{
    /*box-shadow: 4px 3px 8px 0 rgba(0,0,0,0.2);*/
}
.menu-toggle.is-toggled {
    color: #5f666c;
    margin-left: 170px;
}

.menu-toggle.is-rotacao {
    transform: rotate(0deg);
}


.LADES-topbar-mini{
    min-height: 75px;
    width: 270px;
    margin-left: 0px;
    background-color: #eaeaea;
    box-shadow: 4px -1px 8px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
    z-index: -1;
}

.LADES-topbar-mini.is-toggled {
    margin-left: -120px;
}


@media (min-width: 960px) {
    #botao2{display: none;}
    #userNameNik2{display: none}
}

@media(max-width:960px ){
    #botao1{display: none;}

    .LADES-topbar-mini{margin-left:-120px;}
    
    .LADES-topbar-mini.is-toggled2 {margin-left: 0px;}

    nav .menu-toggle{
        color: #5f666c;
        margin-left: 170px;
        transform: rotate(0deg);
    }

    .menu-toggle.is-toggled2 {
        color: #009688;
        margin-left: 300px;
    }
    
    .menu-toggle.is-rotacao2 {transform: rotate(180deg);}
    
    #userNameNik{display: none}
}


















/*Estilização de login*/
.LADES-bodyLogin{
    background-color: #116F5C;
    text-align: center;
}

.LADES-topBarLogin{
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color:#eaeaea;
}

.LADES-topBarLogin > img {
    max-width: 400px;
    height: auto;
    padding-bottom: 2%;
    padding-top: 2%;
}

.LADES-contentLogosInferior{
    margin-top: 10%;
}

.LADES-logosInferior{
    height: 30px;
    margin-left: 25px;
    margin-right: 25px;
}
/*Fim - Estilização de login*/


/*Index estilização menu central*/
.LADES-indexBotao{
    height: 130px;
}

.LADES-textoBotao{
    color: #1abc9c;
    font-size: 16px;
    text-align: center;

}
/*Fim - Index estilização menu central*/


/*Cor dos links*/
a {
    color: #1abc9c;
    text-decoration: none;
}

